/* public/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #b0c4de;
    color: #fff;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#contactForm button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 0px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}




